* {
  box-sizing: border-box;
  margin: 5px;
  padding: 1px;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.5;
  color: #000000;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 10px;
}

.form-container {
  display: flex;
  width: 100%;
}

.input-text {
  flex: 10;
  font-size: 15px;
  padding: 10px 15px;
  border: 1px solid #C0C0C0;
  outline: none;
  font-weight: 500;
  max-width: 75%;
}

.input-text::placeholder {
  color: #2F4F4F;
}

.input-submit {
  flex: 5;
  border: none;
  background: #038203;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
  width: 20%;
  outline: none;
}

.todo-item {
  list-style-type: none;
  padding: 15px 0px;
  border-bottom: 1px solid #F0FFFF;
}

.todo-item input {
  margin-right: 15px;
}

.todo-item button {
  background: #FF0000;
  color: #fff;
  border: solid #FF0000;
  padding: 5px 5px;
  cursor: pointer;
  float: right;
  outline: none;
}